In [1]:
import pandas as pd

df = pd.read_csv("BankChurners.csv")
df.shape

(10127, 23)

In [3]:
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [5]:
df.columns.tolist()

['CLIENTNUM',
 'Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Revolving_Bal',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [7]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [9]:
df.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [11]:
df['Customer_Age'].min(), df['Customer_Age'].max()

(26, 73)

In [13]:
df['Gender'].value_counts()

Gender
F    5358
M    4769
Name: count, dtype: int64

In [15]:
import numpy as np
a = np.arange(10, 21)
print(a)

[10 11 12 13 14 15 16 17 18 19 20]

In [17]:
b = np.random.randint(0, 11, size=(3, 4))
print(b)

[[4 7 6 1]
 [8 6 6 3]
 [3 7 1 6]]

In [19]:
print("Mean:", np.mean(b))
print("Max:", np.max(b))
print("Std Dev:", np.std(b))

Mean: 4.833333333333333
Max: 8
Std Dev: 2.266911751455907

In [21]:
import pandas as pd
df = pd.read_csv("BankChurners.csv")
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [25]:
df[df['Customer_Age'] > 50]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
11,710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.999800
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,0.000048,0.999950
14,712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10110,718225683,Existing Customer,56,M,1,Graduate,Single,$80K - $120K,Silver,49,...,34516.0,1091,33425.0,0.640,15274,108,0.714,0.032,0.000097,0.999900
10117,712503408,Existing Customer,57,M,2,Graduate,Married,$80K - $120K,Blue,40,...,17925.0,1909,16016.0,0.712,17498,111,0.820,0.106,0.000516,0.999480
10119,716893683,Attrited Customer,55,F,3,Uneducated,Single,Unknown,Blue,47,...,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172,0.996910,0.003088
10120,710841183,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,...,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151,0.000038,0.999960
10121,713899383,Existing Customer,56,F,1,Graduate,Single,Less than $40K,Blue,50,...,3688.0,606,3082.0,0.570,14596,120,0.791,0.164,0.000148,0.999850

In [27]:
even_array = np.arange(2, 21, 2)
print("Even numbers array:", even_array)

Even numbers array: [ 2  4  6  8 10 12 14 16 18 20]

In [29]:
data = np.random.randint(10, 100, size=(5, 5))
data[data > 50] = 50
print(data)

[[39 50 18 50 50]
 [50 50 50 50 23]
 [50 10 26 47 50]
 [50 50 50 50 50]
 [50 26 48 50 50]]

In [31]:
df['Income_Category'].nunique()

6

In [33]:
df['Card_Category'].value_counts()

Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64

In [38]:
list_data = [3, 6, 9, 12]
arr = np.array(list_data)
print(arr)

[ 3  6  9 12]

In [40]:
df[df['Customer_Age'] == 45]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
19,709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.99994
40,827111283,Existing Customer,45,M,3,Graduate,Single,$80K - $120K,Blue,41,...,32426.0,578,31848.0,1.042,1109,28,0.474,0.018,0.000118,0.99988
92,714107958,Existing Customer,45,M,1,Graduate,Single,$40K - $60K,Blue,36,...,6576.0,0,6576.0,0.579,1465,34,0.619,0.000,0.000343,0.99966
94,715550508,Existing Customer,45,F,3,Unknown,Married,Unknown,Blue,28,...,2535.0,2440,95.0,1.705,1312,20,1.222,0.963,0.000063,0.99994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9978,768728508,Existing Customer,45,F,5,Doctorate,Married,Less than $40K,Gold,39,...,15987.0,1096,14891.0,0.625,14209,103,0.776,0.069,0.000310,0.99969
10045,755305683,Existing Customer,45,M,5,Graduate,Married,$60K - $80K,Blue,38,...,8983.0,0,8983.0,0.713,15163,124,0.746,0.000,0.000163,0.99984
10079,715090008,Existing Customer,45,M,4,Graduate,Single,$60K - $80K,Silver,36,...,28564.0,2517,26047.0,0.711,14875,107,0.783,0.088,0.000489,0.99951
10087,713768358,Existing Customer,45,M,4,Graduate,Single,$40K - $60K,Blue,35,...,7935.0,888,7047.0,0.779,15380,122,0.694,0.112,0.000119,0.99988
10088,709188108,Existing Customer,45,M,2,Graduate,Single,$60K - $80K,Silver,33,...,34516.0,1529,32987.0,0.609,13940,105,0.810,0.044,0.000103,0.99990

In [42]:
df[df['Card_Category'] == 'Platinum']

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
443,788386908,Existing Customer,48,M,3,Graduate,Unknown,$80K - $120K,Platinum,41,...,34516.0,1531,32985.0,0.862,1156,29,1.071,0.044,0.000205,0.999790
650,779519058,Existing Customer,51,F,3,Post-Graduate,Divorced,Unknown,Platinum,34,...,34516.0,1578,32938.0,0.725,1929,40,0.481,0.046,0.000117,0.999880
3800,708654933,Attrited Customer,51,F,2,Doctorate,Married,Less than $40K,Platinum,42,...,15987.0,193,15794.0,0.435,2021,46,0.394,0.012,0.997930,0.002073
8631,714754533,Existing Customer,51,M,0,Doctorate,Single,$120K +,Platinum,44,...,34516.0,1925,32591.0,0.764,8012,87,0.582,0.056,0.000413,0.999590
8863,714077583,Attrited Customer,43,M,3,Post-Graduate,Married,$40K - $60K,Platinum,31,...,23981.0,593,23388.0,0.987,4758,65,0.512,0.025,0.999090,0.000912
8897,709269708,Existing Customer,45,M,4,Graduate,Single,$120K +,Platinum,34,...,34516.0,1488,33028.0,0.732,7281,95,0.532,0.043,0.000125,0.999870
9068,719071158,Attrited Customer,54,F,0,Graduate,Single,Unknown,Platinum,38,...,34516.0,0,34516.0,0.695,3901,54,0.421,0.000,0.994140,0.005860
9071,711364233,Existing Customer,41,M,4,Unknown,Married,$60K - $80K,Platinum,26,...,34516.0,1559,32957.0,0.759,8888,104,0.763,0.045,0.000110,0.999890
9078,823848183,Existing Customer,39,F,1,Unknown,Single,Less than $40K,Platinum,35,...,15987.0,1494,14493.0,0.731,8438,92,0.840,0.093,0.000343,0.999660
9102,714190983,Attrited Customer,51,F,2,Graduate,Single,Unknown,Platinum,32,...,34516.0,531,33985.0,0.980,5418,65,0.711,0.015,0.998100,0.001899
9113,770848308,Existing Customer,45,M,2,Graduate,Married,$60K - $80K,Platinum,31,...,34516.0,1308,33208.0,0.746,8773,105,0.780,0.038,0.000119,0.999880
9127,713870958,Existing Customer,56,F,3,Uneducated,Single,Unknown,Platinum,46,...,34516.0,0,34516.0,0.887,8416,93,0.632,0.000,0.000333,0.999670
9183,709319658,Attrited Customer,48,F,4,Graduate,Single,Less than $40K,Platinum,37,...,15987.0,0,15987.0,0.827,7681,71,0.690,0.000,0.998940,0.001062
9306,715017858,Existing Customer,44,M,2,Uneducated,Married,$120K +,Platinum,36,...,34516.0,1421,33095.0,0.744,14465,114,0.754,0.041,0.000165,0.999830
9319,771626283,Existing Customer,54,M,2,Post-Graduate,Married,$60K - $80K,Platinum,42,...,34516.0,1996,32520.0,0.988,15033,114,0.810,0.058,0.000222,0.999780
9462,710362233,Existing Customer,48,M,3,Unknown,Unknown,$80K - $120K,Platinum,40,...,34516.0,1723,32793.0,0.628,13853,98,0.782,0.050,0.000379,0.999620
9550,709814883,Existing Customer,45,F,2,High School,Single,Less than $40K,Platinum,36,...,15987.0,2262,13725.0,0.714,15513,127,0.649,0.141,0.000183,0.999820
9618,794494308,Existing Customer,42,M,3,Uneducated,Married,$120K +,Platinum,23,...,34516.0,2070,32446.0,0.880,13781,102,0.545,0.060,0.000677,0.999320
9828,709969758,Existing Customer,43,M,3,Graduate,Single,$60K - $80K,Platinum,35,...,34516.0,1774,32742.0,0.667,13966,115,0.667,0.051,0.000545,0.999450
9858,714949758,Existing Customer,51,F,3,Graduate,Single,Unknown,Platinum,42,...,34516.0,1913,32603.0,0.851,16712,123,0.708,0.055,0.000285,0.999720

In [44]:
df['Marital_Status'].value_counts()['Married']

4687